// Colores
$rojoClaro: rgba(231, 96, 96, 0.555);
$rojo: rgb(255, 0, 0);
$verdeClaro: rgba(27, 252, 27, 0.555);;
$verde: rgb(0, 128, 0);
$negro: #000000;
$negroShadow: rgba(0 0 0 / 0.1);
$azul: #14213d;
$otroAzul: #1f425766;
$amarillo: #FCA311;
$menosBlanco: #E5E5E5;
$blanco: #FFFFFF;


// Tamaños de Media Queries
$tablet: 768px;

//font
$fuente: 'Roboto Mono', monospace;;